# Teste Hydrobr - INMET - NÂO Funciona. problemas no servidor INMET
> dados INMET
>
> https://wallissoncarvalho.github.io/HydroBr/

In [3]:
import hydrobr as hb
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from PIL import Image
from plotly.offline import plot

### Listar estações

In [8]:
list_st=hb.get_data.INMET.list_stations(station_type='both')
list_st.head()

,Code,Type,Name,State,Latitude,Longitude,Height,Start Operation,End Operation
0,82353,Conventional,ALTAMIRA,PA,-3.21416666,-52.21305555,101.51,1927-04-23 21:00:00-03:00,In operation
1,83007,Conventional,ALTO DA BOA VISTA,RJ,-22.96583333,-43.27916666,366,1966-05-31 21:00:00-03:00,In operation
2,82590,Conventional,APODI,RN,-5.62666666,-37.815,131.37,1962-12-17 21:00:00-03:00,In operation
3,83442,Conventional,ARACUAI,MG,-16.84888888,-42.06083333,317.67,1918-09-05 21:00:00-03:00,In operation
4,83368,Conventional,ARAGARCAS,GO,-15.9025,-52.24527777,327.03,1970-07-18 21:00:00-03:00,In operation

### Filtrar localidade

In [20]:
list_bel=list_st[list_st.Name=='BELEM']
list_belc=list_bel.Code.to_list()
list_belc[1]
list_bel

,Code,Type,Name,State,Latitude,Longitude,Height,Start Operation,End Operation
15,82191,Conventional,BELEM,PA,-1.43583333,-48.43722221,7.13,1923-10-31 21:00:00-03:00,In operation
65,A201,Automatic,BELEM,PA,-1.411228,-48.439512,21.17,2003-01-19 22:00:00-02:00,In operation

### Baixar dados

In [22]:
#data_station_bel=hb.get_data.INMET.daily_data(list_belc[1],filter=True)
data_station_bel=hb.get_data.INMET.hourly_data(list_belc[1])

0it [00:00, ?it/s]

Exception: It was not possible to get the data, please verify your connection and try again.